<main>
    <section class="form-section">
        <img src="assets/png/logo.png"/>
       <h2>{{ title }}</h2>
       <ng-content></ng-content>
       <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
       </div>
    </section>
    <section class="main-section">
        <img src="assets/png/main-illustration.png"/>
        <h1>Move faster, ride smarter – SwiftBoard.</h1>
    </section>
</main>